@import "tailwindcss";

@theme inline {
  --font-main: var(--font-plus-jakarta-sans);
  --font-mono: var(--font-roboto-mono);
}

@theme {
  --color-background-100: oklch(0.2298 0.0107 260.68);
  --color-background-200: oklch(0.1988 0.0093 255.63);
  --color-background-300: oklch(0.1666 0.0039 229.07);

  --color-crash: oklch(0.6129 0.2097 26.48);
  --color-crash-low: oklch(0.7555 0.1428 53.33);
  --color-crash-medium: oklch(0.8813 0.073 219.37);
  --color-crash-high: oklch(0.875 0.0667 302.49);
  --color-crash-extreme: oklch(0.934 0.0904 91.78);
}

#headlessui-portal-root {
  position: relative;
  z-index: 50;
  width: 0;
  height: 0;
  overflow: hidden;
}
